---
---

@import 'bootstrap/bootstrap';
body {
  font-family: 'Roboto', sans-serif;
  color: $blue;
}
h2 {
  color: $orange;
}
a:hover {
  text-decoration:none;
}
.menubar {
  position:absolute;
  bottom:0;
  width:100%;
}
.head-viz-menu .item-img {
  width:20%;
  display: inline-block;
  margin: 10px auto;
}
.head-viz-menu .col-3 {
  text-align: center;
  border-right: 1px solid white;
}
.head-viz-menu .col-3.no-border {
  border-right: none;
}
h1.title {
  padding-top: 15px;
}
a.nav-link {
  color: $blue;
}
.item-img {
  background: #fff;
  width: 45%;
  margin: 25px auto;
}
.head-viz-menu .nav-item .item-img:hover, .head-viz-menu .nav-item:hover .item-img, 
.head-viz-menu .nav-item.active .item-img  {
  background: $orange;
}
.head-viz-menu .nav-item.active .white-text {
  color: $orange;
}
.index-block .nav-item:hover .item-img, .c-menu .nav-item:hover, .c-menu .nav-item.active,
#viz-menu .nav-item:hover .item-img, #viz-menu .nav-item.active .item-img, #viz-menu .nav-item.active .item-img {
  background: $orange;
}
#viz-menu .nav-item {
  text-align:center;
  margin-bottom: 25px;
}
.nav-item:hover .white-text, #viz-menu .nav-item.active .white-text {
  color: $orange;
}
.index-block .nav-item {
  text-align:center;
  margin-bottom: 50px;
}
#viz-main-menu {
  margin-top:65px;
}
#viz-menu .separator-white {
  margin-top: 15px;
}
.bottom-menu {
  margin-top: 65px;
  margin-bottom:65px;
  background: $blue;
}
.separator {
  border-left: 1px solid $blue;
  margin: 0 5px;
}
.separator-white {
  border-left: 1px solid #fff;
  margin: 0 2px;
}
.sn-icon {
  width:35px;
  transition: transform 0.1s linear;
}
.sn-icon:hover {
  transform: scaleX(1.2);
  transform: scaleY(1.2);
  transform: scale(1.2);
  transform: scale(1.2,1.2);
}
.nav-xs .sn-icon {
  width: 30px;
}
.menu-holder {
  background: #fff;
}
.c-menu {
  padding-bottom:25px;
  padding-top: 25px;
}
.head-viz-menu {
  background: $blue;
  color: white;
}
.index-block {
  background: $blue;
}
.index-block h1 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 0px;
  line-height: 0.9em;
}
.index-page-title {
  margin-top: 50px;
  text-align: center;
}
h1.text-solid {
  color: #fff;
  font-size: 2.5em;
}
h1.text-outlined {
  color: $blue;
  text-shadow: -1px -1px 0 #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
  font-size: 3.2em;
}
h1.text-solid-orange {
  color: $orange;
  font-size: 5.5em;
}
.orange-text {
  color: $orange;
}
.white-text {
  color: #fff;
  background: $blue;
  text-align:center;
}
#countdown {
  text-align:center;
  font-size: 1.5em;
  margin-top:25px;
  color: $blue;
  margin-bottom: 50px;
}
#developed-by {
  margin-top:100px;
  font-size: 0.7em;
  text-align:right;
  margin-bottom: 45px;
  margin-right: 45px;
  line-height: 0.9em;
}
#developed-by img {
  max-width: 75px;
  margin-top: 10px;
}
h1 {
  font-weight: bold;
}
h1 .title-orange {
  color: $orange;
  font-size: 1.3em;
  
}
.title-orange {
  border-bottom: 15px solid $blue;
}
.content {
  margin-top:65px;
  margin-bottom: 80px;
}
.download-item {
  margin-bottom:25px;
}
.download-item a{
  color: $blue;
}
.download-item:hover a{
  color: $orange;
}
.download-item .img-holder{
  background: $blue;
}
.download-item:hover .img-holder{
  background: $orange;
}
.tooltip,  {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    background: rgba(7,33,56,0.9);
    color:#fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    opacity:0;
}
.tooltip h1, .tooltip h2, .tooltip h3 {
    color:#fff;
    font-size:18px;
}
.detail-header {
  background: $orange;
  font-weight: bold;
  margin-bottom: 20px;
}
.detail-row {
  border-bottom: 1px solid #ccc;
}
.header-muni, .header-nr, .muni-name, .muni-nr, .header-candidato, .candidato-num, .candidato-name, .header-candidato-n {
  display: inline-block;
}
.candidato-suplente {
  margin-left:30px;
}
.btn-link {
  font-size:1.4em;
}
.header-candidato-n {
  padding-left:5px;
}
.header-muni, .muni-name {
  width: 65%;
  padding-left:5px;
}
.header-candidato, .candidato-num, .candidato-name {
  padding-left: 5px;
}
.header-nr, .muni-nr {
  width: 35%;
}
.viz-separator {
  border-bottom: 1px solid #ddd;
  margin: 40px 0;
}
#calendar-line svg {
  background: url('../assets/img/calendar.jpg');
}
.square {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}
.Extremo { background: #FE0000; }
.Alto { background: #ED7D31; }
.Medio { background: #FFFF00;}
.Bajo { background: #92D051;}
.btn-secondary {
  color: $blue;
  background: $orange;
  border: 1px solid $orange;
}
.btn-secondary:hover {
  background: #f79b20;
}
.bar {
  background: gray;
  fill: $orange;
}
.info-square {
  padding: 10px;
  font-size: 0.9em;
  border: 1px solid #bbb;
  color: #bbb;
  position:absolute;
}
.info-square.active {
  border: 1px solid $blue;
  color: $blue;
}
.square-title {
  font-weight: bold;
}
#l1 { top:112px; }
#l2 { top:315px; }
#l3 { top:416px; }
#l4 { top:500px; }
#l5 { top:598px; }
#l6 { top:660px; }
#l7 { top:820px; }
#l8 { top:895px; }
#l9 { top:1111px; }
#r1 { top:304px; }
#r2 { top:375px; }
#r3 { top:452px; }
#r4 { top:521px; }
#r5 { top:584px; }
#r6 { top:716px; }
#r7 { top:788px; }
#r8 { top:1003px; }
#r9 { top:1218px; }
.fixed-380 {
  width:380px !important;
}
span.bold {
  font-weight: bold;
}
#parlacen-table, #parlacen-graphs {
  margin-top: 45px;
}
#navbar-site-sm {
  position:absolute;
  top:-35px;
  right:0;
}
.navbar-light .navbar-toggler {
  color:$orange;
  border-color:$orange;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(97,65,13, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarFullMenu li.nav-item {
  padding-left:15px;  
}
/* google search engine*/
.cse .gsc-control-cse, .gsc-control-cse {
  padding: 0 !important;
}
.gsib_a {
  padding: 0px 9px;
}
/*end of google search engine*/
@media (max-width: 576px) {
  .separator {
    margin: 0 2px;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .menubar div ul {
    font-size: 0.7em;
  }
  h1.text-solid {
    font-size: calc(16px + 10 * ((100vw) / 576));
  }
  h1.text-outlined {
    font-size: calc(16px + 15 * ((100vw) / 576));
  }
  h1.text-solid-orange {
    font-size: calc(16px + 45 * ((100vw) / 576));
  }
  h1 {
    font-weight: bold;
    font-size: calc(16px + 8 * ((100vw) / 576));
  }
  h1 .title-orange {
    color: $orange;
    font-size: calc(16px + 20 * ((100vw) / 576));
    
  }
  h2 {
    font-size: calc(16px + 6 * ((100vw) / 576));
  }
  .white-text {
    font-size: 0.8em;
  }
  .separator-white {
    margin-top: 10px;
  }
  #developed-by img {
    max-width: 60px;
  }
  form.gsc-search-box {
    margin-top: 25px !important;
    padding-left:15px;
    padding-right:15px;
  }
}
@media (max-width: 321px) { 
  .menubar div ul {
    font-size: 0.6em;
  }
  .nav-xs {
    margin-bottom: 40px;
  }
}

