---
---

@import 'bootstrap/bootstrap';
body {
  font-family: 'Roboto', sans-serif;
  color: $blue;
}
a:hover {
  text-decoration:none;
}
.menubar {
  position:absolute;
  bottom:0;
  width:100%;
}
a.nav-link {
  color: $blue;
}
.item-img {
  background: #fff;
  width: 45%;
  margin: 25px auto;
}
.index-block .nav-item:hover .item-img, .c-menu .nav-item:hover, .c-menu .nav-item.active,
#viz-menu .nav-item:hover .item-img, #viz-menu .nav-item.active .item-img, #viz-menu .nav-item.active .item-img {
  background: $orange;
}
#viz-menu .nav-item {
  text-align:center;
  margin-bottom: 25px;
}
.nav-item:hover .white-text, #viz-menu .nav-item.active .white-text {
  color: $orange;
}
.index-block .nav-item {
  text-align:center;
  margin-bottom: 50px;
}
#viz-main-menu {
  margin-top:65px;
}
#viz-menu .separator-white {
  margin-top: 15px;
}
.bottom-menu {
  margin-top: 65px;
  margin-bottom:65px;
  background: $blue;
}
.separator {
  border-left: 1px solid $blue;
  margin: 0 5px;
}
.separator-white {
  border-left: 1px solid #fff;
  margin: 0 2px;
}
.sn-icon {
  width:35px;
  transition: transform 0.1s linear;
}
.sn-icon:hover {
  transform: scaleX(1.2);
  transform: scaleY(1.2);
  transform: scale(1.2);
  transform: scale(1.2,1.2);
}
.nav-xs .sn-icon {
  width: 30px;
}
.c-menu {
  margin-bottom:45px;
  margin-top: 25px;
}
.index-block {
  background: $blue;
}
.index-block h1 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 0px;
  line-height: 0.9em;
}
.index-page-title {
  margin-top: 50px;
  text-align: center;
}
h1.text-solid {
  color: #fff;
  font-size: 2.5em;
}
h1.text-outlined {
  color: $blue;
  text-shadow: -1px -1px 0 #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
  font-size: 3.2em;
}
h1.text-solid-orange {
  color: $orange;
  font-size: 5.5em;
}
.orange-text {
  color: $orange;
}
.white-text {
  color: #fff;
  background: $blue;
  text-align:center;
}
#countdown {
  text-align:center;
  font-size: 1.5em;
  margin-top:25px;
  color: $blue;
  margin-bottom: 50px;
}
#developed-by {
  margin-top:100px;
  font-size: 0.7em;
  text-align:right;
  margin-bottom: 45px;
  margin-right: 45px;
  line-height: 0.9em;
}
#developed-by img {
  max-width: 75px;
  margin-top: 10px;
}
h1 {
  font-weight: bold;
}
h1 .title-orange {
  color: $orange;
  font-size: 1.3em;
  
}
.title-orange {
  border-bottom: 15px solid $blue;
}
.content {
  margin-top:65px;
  margin-bottom: 80px;
}
@media (max-width: 576px) { 
  .separator {
    margin: 0 2px;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .menubar div ul {
    font-size: 0.7em;
  }
  h1.text-solid {
    font-size: calc(16px + 10 * ((100vw) / 576));
  }
  h1.text-outlined {
    font-size: calc(16px + 15 * ((100vw) / 576));
  }
  h1.text-solid-orange {
    font-size: calc(16px + 45 * ((100vw) / 576));
  }
  h1 {
    font-weight: bold;
    font-size: calc(16px + 8 * ((100vw) / 576));
  }
  h1 .title-orange {
    color: $orange;
    font-size: calc(16px + 20 * ((100vw) / 576));
    
  }
  .white-text {
    font-size: 0.8em;
  }
  .separator-white {
    margin-top: 10px;
  }
  #developed-by img {
    max-width: 60px;
  }
}
@media (max-width: 321px) { 
  .menubar div ul {
    font-size: 0.6em;
  }
  .nav-xs {
    margin-bottom: 40px;
  }
}

