<div class="container">
  <div class="row">
    <div class="col-4 col-md-2">
      <a target="_blank" href="http://accionciudadana.org.gt/"><img class="img-fluid" src="../assets/img/ac.jpg" /></a>
    </div>
    <div class="col-4 col-md-2">
      <a target="_blank" href="http://www.congcoop.org.gt/"><img class="img-fluid" src="../assets/img/congcoop.jpg" /></a>
    </div>
    <div class="col-4 col-md-2">
      <a target="_blank" href="http://guatemalademos.org/es/"><img class="img-fluid" src="../assets/img/demos.jpg" /></a>
    </div>
    <div class="col-4 col-md-2">
      <a target="_blank" href="http://dosesguatemala.org/"><img class="img-fluid" src="../assets/img/doses.jpg" /></a>
    </div>
    <div class="col-4 col-md-2">
      <a target="_blank" href="https://www.flacso.edu.gt/"><img class="img-fluid" src="../assets/img/flacso.jpg" /></a>
    </div>
    <div class="col-4 col-md-2">
      <a target="_blank" href="https://incep.org/"><img class="img-fluid" src="../assets/img/incep.jpg" /></a>
    </div>
  </div>
</div>
<div id="developed-by">
    <div class="justify-content-end">
      sitio web <br/>desarrollado por:<br/>
      <a target="_blank" href="http://www.guatecambia.org.gt"><img src="../assets/img/guatecambia.jpg" /></a>
    </div>
</div>

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
